body {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	background-image: linear-gradient(
		to top,
		hsl(0, 0%, 99%),
		hsl(300, 33%, 98%),
		hsl(312, 45%, 98%),
		hsl(330, 83%, 97%),
		hsl(347, 90%, 97%)
	);
	height: 100vh;
}
h1 {
	font-size: 50px;
	margin-top: 10px;
}

input {
	width: 200px;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

.error-msg {
	font-size: 18px;
	font-weight: bold;
	color: red;
	padding: 10px;
}

/* ----------- */

.container {
	background-color: hsl(0, 100%, 97%);
	border: 1px solid hsl(0, 100%, 95%);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 30px 80px;
	padding: 10px;
	border-radius: 5px;
}

/* weather info */

.weather-info {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin: 10px;
	font-size: 20px;
	text-align: left;
	font-size: 25px;
}

/* .time {
	font-size: 14px;
} */

.city-name {
	font-size: 40px;
	font-weight: 600;
	color: hsl(0, 100%, 25%);
}

.temp > img {
	width: 50px;
	height: 50px;
}
.temp {
	font-size: 30px;
	font-weight: bold;
	max-width: 290px;
	text-align: right;
}

.feels-like {
	font-family: Courier, monospace;
	font-size: 20px;
	font-weight: bold;
}

.cloud {
	font-size: 24px;
}
.humidity {
	font-size: 24px;
}
.visibility {
	font-size: 24px;
}

/* city location */

#map {
	height: 300px;
	width: 600px;
	border: 1px solid rgb(161, 160, 160);
	border-radius: 5px;
}
